@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');  

body {
   font-family: Roboto, sans-serif;
   margin: 0;
}

nav {
   display: flex;
   background-color: #1F2937;
   color: #F9FAF8;
   justify-content: space-between;
   padding: 20px 210px;
}

.logo {
   font-weight: 900;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-container {
   display: flex;
   align-items: center;
   gap: 30px;
   font-size: 18px;
   color: #b7b7b7;
}

.section-one {
   background-color: #1F2937;
   display: flex;
   padding: 145px 210px;
}

.awesome {
   font-weight: 900;
   font-size: 48px;
   color: #F9FAF8;
}

.subtext.one {
   font-size: 18px;
   color: #b7b7b7;
   margin: 15px 0px;
}

.image {
   width: 550px;
   height: 235px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #b7b7b7;
   flex-shrink: 0;
}

.contents {
   margin-right: 145px;
}

button {
   background-color: #3882f6;
   color: #F9FAF8;
   width: 125px;
   height: 30px;
   border-radius: 5px;
   border: none;
   font-weight: 900;
   font-size: 15px;
   cursor: pointer;
}

.section-two {
   padding: 50px 0px;
}

.random {
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
   text-align: center;
}

.elements-container {
   margin-top: 50px;
   display: flex;
   justify-content: center;
   gap: 40px;
}

.shapes {
   width: 165px;
   height: 165px;
   border: 5px solid #3882f6;
   border-radius: 20px;
}

.subtext.two {
   margin: 10px 0px 80px 0px;
   color: #818181;
   text-align: center;
}

.section-three {
   background-color: #E5E7EB;
   padding: 80px 380px;
}

.quote {
   font-weight: 300;
   font-size: 36px;
   color: #1F2937;
   font-style: italic;
}

.quoter {
   font-size: 25px;
   font-weight: 900;
   text-align: right;
   margin: 15px 15px 0px 0px;
}

.section-four {
   background-color: #3882f6;
   color: #E5E7EB;
   display: flex;
   justify-content: space-between;
   margin: 80px 210px;
   padding: 50px;
}

.call-to-action {
   font-weight: 900;
   font-size: 24px;
   margin-bottom: 5px;
}

.button.two {
   border: 2px solid #E5E7EB;
   margin-top: 15px;
}

footer {
   background-color: #1F2937;
   text-align: center;
   padding: 40px;
   color: #E5E7EB;
}